# Виртуальное окружение
venv/
env/
ENV/
.env
.venv

# Кэш Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Файлы Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media

# Файлы IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store
